/* General styles */
:root {
	--page-background: #ffffff;
	--cloud-background: rgba(138, 67, 137, 0);
	--dark-purple: #512051;
	--light-purple: #927b91;
	--light-gray: #f7f2f7;
	--pink: #ee69a4;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "spartan", sans-serif;
	font-size: 15px;
	background-color: var(--page-background);
}

/* Section style */
.social-proof {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	height: 800px;
}
.social-proof::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background: transparent
		url("./images/bg-pattern-top-desktop.svg")
		0% 0% no-repeat padding-box;
}
.social-proof::after {
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	width: 1000px;
	height: 673px;
	z-index: -1;
	background: transparent
		url("./images/bg-pattern-bottom-desktop.svg")
		0% 0% no-repeat padding-box;
}
.social-proof > div {
	width: 1100px;
	display: flex;
	justify-content: space-between;
}

/* social-proof__header style */
header,
.reviews {
	width: 445px;
}
.title {
	font-size: 48px;
	color: var(--dark-purple);
	letter-spacing: -1.71px;
	margin-bottom: 6px;
}
.sub-title {
	letter-spacing: -0.5px;
	font-weight: 500;
	color: var(--light-purple);
}

.stars {
	width: 540px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.score-wrapper {
	background-color: var(--light-gray);
	width: 445px;
	border-radius: 8px;
	display: flex;
	padding: 20px;
	color: var(--dark-purple);
	font-weight: bold;
}
.middle {
	align-self: center;
}
.right {
	align-self: flex-end;
}
.stars-wrapper {
	margin: 0 32px 0 12px;
}

.reviews {
	display: flex;
	width: 1100px;
	justify-content: space-between;
}
.review-card {
	background-color: var(--dark-purple);
	border-radius: 8px;
	padding: 32px 40px;
	width: 350px;
	color: #ffffff;
}
.review-text {
	letter-spacing: -0.23px;
	font-weight: 500;
}
.top {
	margin-bottom: 32px;
}
.v-middle {
	margin: 16px 0;
}
.bottom {
	margin-top: 32px;
}

.reviewer {
	display: flex;
	margin-bottom: 30px;
}
.info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.name {
	font-weight: bold;
}
.role {
	color: var(--pink);
}
figure {
	margin-right: 24px;
}
img {
	width: 40px;
	border-radius: 50%;
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
